@*@model List<WebApplication1.Models.Customer>*@
@model IEnumerable<WebApplication1.Models.Customer>
@{
    ViewBag.Title = "Customers List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers List</h2>
<div>
    @Html.ActionLink("Add Customer", "NewCustomer", "Customer", new { @class = "btn btn-primary" })
</div>
<br />
@if (Model == null)
{
    <h4>We dont have customer.</h4>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Customers</th>
            <th>Membership Type</th>
            <th>Discount</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var customer in @Model)
            {
                <tr>
                    <td>@Html.ActionLink(@customer.Name, "Edit", new { id = @customer.Id })</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                </tr>


            }
        </tbody>
    </table>



    
}

